*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HOME */
.header{
  display: grid;
  grid-template-columns: repeat(12, 96px);
  grid-template-rows: repeat(5, 40px);
  justify-content: center;
  height: 200px;
  width: 72rem;
  position: relative;
  top: 1rem;
  left: 4rem;
  /* border: 1px gold solid; */
}
.logo img{
  height: 8rem;
  width: 10rem;
  position: absolute;
}
.nav-bars{
  height: 20px;
  width: 400px;
  /* border: 1px crimson solid; */
  grid-row: 2/-5 ;
  grid-column:8/12 ;
}
.nav-bars li{
  display: inline-block;
  padding-left: 3rem;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}
.title img{
  height: 5rem;
  width: 30rem;
  position: relative;
  top: -2rem;
  left: 25rem;
}
.bgclip{
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 70%;
  z-index: -1;
}
@media(min-aspect-ratio: 16/9){
  .bgclip{
    width: 100%;
    height: auto;
  }
}
@media(max-aspect-ratio: 16/9){
  .bgclip{
    width: auto;
    height: 100%;
  }
}