*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
}

/* HOME */
#home-header{
  height: 100vh;
  width: 100%;
}
#home-header p{
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
}
.header{
  display: grid;
  grid-template-columns: repeat(12, 96px);
  grid-template-rows: repeat(5, 40px);
  justify-content: center;
  height: 200px;
  width: 72rem;
  position: relative;
  top: 1rem;
  left: 4rem;
}
.logo img{
  height: 8rem;
  width: 10rem;
  position: absolute;
}
.nav-bars{
  height: 20px;
  width: 250px;
  grid-row: 2/-5 ;
  grid-column:10/12 ;
}
.nav-bars a li{
  display: inline-block;
  padding-left: 3rem;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  list-style:none;
}
.nav-bars li:hover{
  color: gold;
  transition: 0.5s;
}
.title img{
  height: 5rem;
  width: 30rem;
  position: relative;
  top: -1rem;
  left: 25rem;
}
.bgclip{
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 60%;
  z-index: -1;
}
@media(min-aspect-ratio: 16/9){
  .bgclip{
    width: 100%;
    height: auto;
  }
}
@media(max-aspect-ratio: 16/9){
  .bgclip{
    width: auto;
    height: 100%;
  }
}

#home-header p{
  color: white;
  text-shadow: 3px 3px 5px gold;
}
#start-btn{
  height: 50px;
  width: 130px;
  color: white;
  background-color: transparent;
  border: 2px gold ridge;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  position: relative;
  top: 60px;
  cursor: pointer;
}
#start-btn:hover{
  border: 1px gold ridge;
  color:crimson;
  background-color: white;
  transition: 0.7s;
}
/* Sliding Genre Photos*/

#genres h1{
  color: white;
  font-size: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 250px;
  text-align: center;
  position: relative;
  top: 2rem;
}

.container{
  position: absolute;
  top: 60rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
  overflow: hidden;
}

.container .slide .item{
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}


.slide .item:nth-child(1),
.slide .item:nth-child(2){
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}


.slide .item:nth-child(3){
  left: 50%;
}
.slide .item:nth-child(4){
  left: calc(50% + 220px);
}
.slide .item:nth-child(5){
  left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6){
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content{
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eeeeee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}


.slide .item:nth-child(2) .content{
  display: block;
}


.content .name{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}


.button{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button{
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover{
  background: #ababab;
  color: #fff;
}

/* home-footer */
.info li{
  color: white;
  display: inline-block;
  padding-left: 3rem;
  position: relative;
  top: -10px;
  text-align: center;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info li:hover{
  color: gold;
  transition: 0.5s;
}
#copyright{
  color: white;
  position: relative;
  top: 10px;
  font-size: 12px;
}
.other-platforms{
  display: inline-block;
  position: relative;
  top: 35px;
  left: 30px;
}
.other-platforms img{
  height: 25px;
  width: 30px;
  padding-left: 3px;
}

/* Music Player
.box-1{
  background: linear-gradient(yellow 20%, gray);
  border: 1px black solid;
  width: 250px;
  height:350px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black, -2px -2px 10px grey;
  position: absolute;
  top: 23rem;
  left: 55rem;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  height: 500px;
  flex-direction: column;
}
.art img{
  height: 100px;
  width: 100px;
  margin-bottom:20%;
  border-radius: 50%;
  border: 5px solid yellow;
}
.art-name{
  text-align: center;
  overflow: hidden;
  width: 170px;
}
.box-1 h4{
  margin-bottom: 35px;
}
.art-name p{
  white-space: nowrap;
  font-family: cursive;
  font-weight: bold;
}
.round{
  animation: round 4s linear infinite;
}

@keyframes round{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(100deg);
  }
}

.run{
  animation: run 6s linear infinite;
}
@keyframes run {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}
.cntrl{
  cursor: pointer;
  background-color: yellow;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 15px;
}
.cntrl:active{
  transform: scale(0.9);
}
i{
  font-size: 22px;
}
.none{
  display: none;
}
.msc{
  margin-top: 30px;
}
.prog{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.time{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.line{
  width: 100%;
  height: 5px;
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.lineChild{
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  background-color: yellow;
  width: 0%;
  height: 100%;
  transition: width 0.1s;
}
.lineChild::after{
  content: "";
  position: absolute;
  background-color: black;
  cursor: pointer;
  top: -3px;
  right: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
} */